/* Define color variables */
:root{
    --seasalt: #f4f7f5;
    --silver: #bdbbb6;
    --paynes-gray: #546a76;
    --jet: #464142;
    --khaki: #a99f96;
}
/* Set global styles */
html{
    font-family: 'Courier New', monospace, 'Arial', sans-serif;
    background-color: var(--seasalt);
}
/* Heading styles */
.heading{
    padding: 50px;
    text-align: center;
}

/* Content section styles */
.content{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.content__title{
    color: var(--paynes-gray);
    margin-bottom: 0;
}
.content__text{
    color: var(--chinese-violet);
    letter-spacing: 0.1rem;
}


/* Media Queries */
@media only screen and (max-width: 980px) {
    .heading {
        padding: 5%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .content {
        width: 90%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        margin 5%;
        width: 80%;
    }
}
