{% extends "base.html" %}

{% block head_content %}
	<title>Erika Diaz - About</title>
	<link rel="stylesheet" href="/static/css/aboutStyles.css">
{% endblock %}

{% block header_content %}
	<header class="navbar">
		<div class="navbar__brand">
			<img class="navbar__image" src="/static/erika.svg">
			<h1 class="navbar__title">I'm Erika, software engineer, and solution architect.</h1>
			<h2 class="navbar__content"> Adaptable. Analytical. Collaborative.</h2>
		</div>
	</header>
{% endblock %}

{% block main_content %}
	<section class="content">
	    <div>
		    <p class="content_text">
			    Dedicated and passionate Software Test Engineer with a rich background in ensuring the quality and
			    reliability of software applications. With a strong focus on automation for both front-end and
			    back-end testing, I bring over 5 years of valuable experience to the dynamic world of software
			    development.
		    </p>
	    </div>
	    <div>
		    <h3 class="content__title">Education</h3>
		    <p class="content__text">
			    I hold a Bachelor of Science in Technology Information Management and a Bachelor of Arts in
			    Business Management Economics from the University of California, Santa Cruz. My academic journey
			    laid the foundation for my career, providing me with a solid understanding of technology and
			    business dynamics.
		    </p>
	    </div>
	    <div>
		    <h3 class="content__title">Professional Journey</h3>
		    <p class="content__text">
			    I have had the privilege of contributing my skills and expertise at General Motors, where I've
			    been an integral part of team as a CI/CD architect, software developer, and currently software
			    test automation engineer. Over the years, I've actively engaged in designing and implementing
			    automated testing strategies that enhance the efficiency and effectiveness of the software
			    development lifecycle.
		    </p>
	    </div>
	    <div>
		    <h3 class="content__title">Automation</h3>
		    <p class="content__text">
			    My proficiency extends to both front-end and back-end automation, utilizing cutting-edge tools
			    and frameworks. I am passionate about crafting robust and maintainable automated test suites
			    that ensure the flawless execution of software applications.
		    </p>
	    </div>
	    <div>
		    <h3 class="content__title">Continuous Integration and Deployment (CI/CD)</h3>
		    <p class="content__text">
			    I specialize in integrating automated testing into CI/CD pipelines, fostering a culture of
			    continuous improvement. This approach not only accelerates the development process but also
			    enhances the overall reliability and stability of the software.
		    </p>
	    </div>
	    <div>
		    <h3 class="content__title">Projects</h3>
		    <p class="content__text">
				In my daily professional activities, I specialize in leveraging Java for my automation projects.
			    Recognizing the importance of diversifying my skill set, I proactively sought to enhance my
			    proficiency in Python. To achieve this, I enrolled in comprehensive Udemy courses focusing on
			    web and API development, aiming to sharpen my capabilities in both front-end and back-end
			    automation using Python. I invite you to explore the various projects I've undertaken and
			    their corresponding automation repositories, showcasing my commitment to continuous learning
			    and versatile expertise.
		    </p>
	    </div>
	</section>
{% endblock %}
